body { 
  font: normal 16px/20px "Helvetica Neue", Helvetica, sans-serif;
  background: rgb(237, 237, 236);
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

section, header, footer {
  display: block;
}

#wrapper {
  width: 600px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  border-top: 1px solid #fff;
  padding-bottom: 76px;
}

h1 {
  padding-top: 10px;
}

h2 {
  font-size: 100%;
  font-style: italic;
}

header,
article > *,
footer > * {
  margin: 20px;
}

#status {
  padding: 5px;
  color: #fff;
  background: #ccc;
}

#status.fail {
  background: #c00;
}

#status.success {
  background: #0c0;
}

button, input {
  font-size: 16px;
  padding: 3px;
  margin-left: 5px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}

#submit {
  cursor: pointer;
	background: #45c343;
	color: #fff;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 191px;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.33);
}

#submit:hover {
	background: #5be071;
}
