<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=620">
    <title>Everyone</title>
    <link rel="stylesheet" href="css/findme.css" />
</head>
<body>
<section id="wrapper">
    <header>
      <h1>Everyone</h1>
    </header>
    <article>
      <p>Zoom out to see all <span id="count">0</span></p>

      <div id="mapcanvas"></div>
    </article>

    <script type="text/javascript" src="<%= script_src %>"></script>
    <script type="text/javascript" src="js/everyone.js"></script>
</section>

</body>
</html>
