<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=620" />
    <title>GeoSlack - FindMe</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#76c2af" />
    <meta name="theme-color" content="#76c2af" />
    <link rel="stylesheet" href="css/findme.css" />
</head>
<body>
    <section id="wrapper">
        <header>
            <h1>Find Me</h1>
        </header>
        <article>
            <div>
                <label>Your name: <input id="username" type="text" /></label>
            </div>
            <div>
                <label>Auto-update: <input id="autoupdate" type="checkbox" /></label>
            </div>
            <div>
                <button id="submit">Post to Slack!</button>
            </div>
            <p id="finding" style="display:none">
                Finding your location: <span id="status"></span>
            </p>
            <div id="mapcanvas"></div>
        </article>
    </section>
    <script type="text/javascript" src="<%= script_src %>"></script>
    <script type="text/javascript" src="js/findme.js"></script>
</body>
</html>
