<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoSlack</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#76c2af" />
    <meta name="theme-color" content="#76c2af" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>

<body class="container">
    <header>
        <h1>GeoSlack</h1>
    </header>
    
    <p>GeoSlack is all setup! Follow the instructions in the readme.</p>
    <img width="200" height="200" src="https://styfle.github.io/geoslack/img/findme.png" />
    <p>What are you waiting for? Your team is wondering where you are!</p>
    <ul>
        <li><a href="/findme">Find Me</a></li>
        <li><a href="/everyone">Show Everyone</a></li>
    </ul>
</body>
</html>
