<!DOCTYPE html>
<html>
<head>
  <title>GeoSlack</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />  
</head>

<body class="container">

  <h1>GeoSlack</h1>
  
  <p>GeoSlack is all setup! Follow the instructions in the readme.</p>
  <img width="200" height="200" src="https://styfle.github.io/geoslack/img/findme.png" />
  <p>What are you waiting for? Your team is wondering where you are!</p>
  <ul>
    <li><a href="/findme">Find Me</a></li>
    <li><a href="/everyone">Show Everyone</a></li>
  </ul>
</body>
</html>
