<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=620">
    <title>Find Me</title>
    <link rel="stylesheet" href="css/findme.css" />
</head>
<body>
<section id="wrapper">
    <header>
      <h1>Find Me</h1>
    </header>
    <article>
      <div>
        <label>Your name: <input id="username" type="text" /></label>
      </div>
      <div>
        <label>Auto-update: <input id="autoupdate" type="checkbox" /></label>
      </div>
      <div>
        <button id="submit">Post to Slack!</button>
      </div>
      <p id="finding" style="display:none">
        Finding your location: <span id="status"></span>
      </p>
      <div id="mapcanvas" style="display:none;width:560px;height:400px;"></div>
    </article>

<script type="text/javascript" src="<%= script_src %>"></script>
<script type="text/javascript" src="js/findme.js"></script>
</section>

</body>
</html>
