<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=620">
    <title>Find Me</title>
    <link rel="stylesheet" href="css/findme.css" />
</head>
<body>
<section id="wrapper">
    <header>
      <h1>Find Me</h1>
    </header>
    <article>
      <label>Your name: <input id="username" type="text" /></label>
      <div>
        <button id="submit">Post to Slack!</button>
      </div>
      <p id="finding" style="display:none">
        Finding your location: <span id="status">checking...</span>
      </p>
    </article>

<script type="text/javascript" src="<%= script_src %>"></script>
<script type="text/javascript" src="js/findme.js"></script>
</section>

</body>
</html>
